src/conf/xml-resources/web-service-references/WebServiceGestionUsuario/wsdl/localhost_8080/WSUsuariosSistema/WebServiceGestionUsuario.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="ValidarLogin" type="tns:ValidarLogin"/>

<xs:element name="ValidarLoginResponse" type="tns:ValidarLoginResponse"/>

<xs:element name="listaNiveles" type="tns:listaNiveles"/>

<xs:element name="listaNivelesResponse" type="tns:listaNivelesResponse"/>

<xs:element name="servicioDeRegistro" type="tns:servicioDeRegistro"/>

<xs:element name="servicioDeRegistroResponse" type="tns:servicioDeRegistroResponse"/>

<xs:complexType name="ValidarLogin">
<xs:sequence>
<xs:element name="dni" type="xs:int"/>
<xs:element name="nivelID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidarLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="dni" type="xs:int"/>
<xs:element name="nivel" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="servicioDeRegistro">
<xs:sequence>
<xs:element name="doc" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="nivel" type="xs:int"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="servicioDeRegistroResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaNiveles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listaNivelesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>