web/WEB-INF/wsdl/localhost_8080/WSUsuariosSistema/WebServiceGestionUsuario.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="WebServiceGestionUsuario">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/WSUsuariosSistema/WebServiceGestionUsuario?xsd=1"/>
</xsd:schema>
</types>
<message name="ValidarLogin">
<part name="parameters" element="tns:ValidarLogin"/>
</message>
<message name="ValidarLoginResponse">
<part name="parameters" element="tns:ValidarLoginResponse"/>
</message>
<message name="servicioDeRegistro">
<part name="parameters" element="tns:servicioDeRegistro"/>
</message>
<message name="servicioDeRegistroResponse">
<part name="parameters" element="tns:servicioDeRegistroResponse"/>
</message>
<message name="OpListadoUsuario">
<part name="parameters" element="tns:OpListadoUsuario"/>
</message>
<message name="OpListadoUsuarioResponse">
<part name="parameters" element="tns:OpListadoUsuarioResponse"/>
</message>
<portType name="WebServiceGestionUsuario">
<operation name="ValidarLogin">
<input wsam:Action="http://WebServices/WebServiceGestionUsuario/ValidarLoginRequest" message="tns:ValidarLogin"/>
<output wsam:Action="http://WebServices/WebServiceGestionUsuario/ValidarLoginResponse" message="tns:ValidarLoginResponse"/>
</operation>
<operation name="servicioDeRegistro">
<input wsam:Action="http://WebServices/WebServiceGestionUsuario/servicioDeRegistroRequest" message="tns:servicioDeRegistro"/>
<output wsam:Action="http://WebServices/WebServiceGestionUsuario/servicioDeRegistroResponse" message="tns:servicioDeRegistroResponse"/>
</operation>
<operation name="OpListadoUsuario">
<input wsam:Action="http://WebServices/WebServiceGestionUsuario/OpListadoUsuarioRequest" message="tns:OpListadoUsuario"/>
<output wsam:Action="http://WebServices/WebServiceGestionUsuario/OpListadoUsuarioResponse" message="tns:OpListadoUsuarioResponse"/>
</operation>
</portType>
<binding name="WebServiceGestionUsuarioPortBinding" type="tns:WebServiceGestionUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ValidarLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="servicioDeRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="OpListadoUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceGestionUsuario">
<port name="WebServiceGestionUsuarioPort" binding="tns:WebServiceGestionUsuarioPortBinding">
<soap:address location="http://localhost:8080/WSUsuariosSistema/WebServiceGestionUsuario"/>
</port>
</service>
</definitions>